* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3E3E3E;
}

.landing-page {
  background-image: url(../img/bgimg.jpg);
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 175px;
}

.logo {
  display: block;
  filter: brightness(0) invert(1);
  width: auto;
  height: 75px;
  opacity: 0.75;
  transition: 1s;
  cursor: pointer;
}
.logo:hover {
  opacity: 1;
  transition: 1s;
}

input#menu {
  visibility: hidden;
}

label {
  position: absolute;
  left: 85%;
  z-index: 2;
}

label, label::before, label::after {
  width: 45px;
  height: 6px;
  background: #ffffff;
  box-shadow: 0px 5px 5px #000000;
  transition: 0.75s;
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  transform: translateY(-18px);
}

label::after {
  content: "";
  position: absolute;
  transform: translateY(18px);
}

#menu:checked + label {
  width: 0px;
}

#menu:checked + label::before {
  transform: rotate(45deg);
}

#menu:checked + label:after {
  transform: rotate(-45deg);
}

.side-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  background: linear-gradient(#0000003f, #0000003f);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.side-menu a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  padding: 50px;
  opacity: 0.5;
}
.side-menu a:hover {
  color: #4EECDE;
  background-color: #000000b7;
  opacity: 1;
  transition: 0.75s;
}

#menu:checked ~ .side-menu {
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 4em;
  text-shadow: 5px 1px 10px #000000;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding: 50px;
  background: linear-gradient(#0000009f, #00000000);
}

.home-intro {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 750px;
  margin: 50px;
}

.home-btn {
  font-family: "Raleway";
  color: #ffffff;
  cursor: pointer;
  width: 150px;
  padding: 25px;
  background: none;
  border: 2px solid #ffffff;
}
.home-btn:hover {
  color: #4EECDE;
  border: 2px solid #4EECDE;
  opacity: 1;
  transition: 0.75s;
}

.social-icons {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 50px 25px;
  border-radius: 100%;
  box-shadow: 0px 5px 5px #000000;
  opacity: 0.5;
  transition: 0.75s;
  cursor: pointer;
}
.social-icon:hover {
  opacity: 1;
  transition: 0.75s;
}

.home-hero {
  text-align: center;
  justify-content: center;
  background-image: url(../img/home-hero.jpeg);
  background-position: center;
  background-size: cover;
  height: 600px;
  filter: saturate(0);
}

.home-hero h1 {
  font-size: 4em;
  padding: 225px 0;
}
.home-hero h1 span .txt-type {
  font-weight: 100;
}

.services {
  background-color: #cecece;
  color: #000000;
  padding: 100px 175px;
  align-content: center;
}
.services h2 {
  text-align: center;
  font-size: 4em;
}
.services h3 {
  text-align: center;
}
.services--wrapper {
  padding: 50px 0;
  margin-left: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.wrapper--content img {
  margin-left: 90px;
}

.wrapper--content#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

/* content is hidden */
#popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 50px;
  background: #ffffff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
}
#popup p {
  line-height: 1.5em;
  margin: 10px;
}

/* content is visible */
#popup.active {
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: 0.85s;
  visibility: visible;
}

.servicebtn {
  border: 1px solid #000000;
  display: block;
  background: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.servicebtn:hover {
  background-color: black;
  color: #ffffff;
  transition: 0.5s;
}
.servicebtn a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio--img {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  z-index: 3;
  transition: 0.75s ease-in-out;
}
.portfolio--title {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  padding: 20px;
  z-index: -1;
  box-shadow: 1px 1px 15px #000000;
  transition: 0.75s ease-in-out;
}
.portfolio--title h3 {
  margin-top: 75px;
}

.card {
  cursor: pointer;
}

.portfolio--img {
  transform: translateY(120px);
}

.card:hover .portfolio--img {
  transform: translateY(0);
}

.card:hover .portfolio--title {
  transform: translateY(-80px);
}

.portfolio--title {
  transform: translateY(-120px);
}

.project-btn {
  position: absolute;
  font-family: "Raleway";
  color: #000000;
  cursor: pointer;
  padding: 10px 5px;
  background: none;
  border: 2px solid #000000;
}
.project-btn:hover {
  color: #4EECDE;
  border: 2px solid #4EECDE;
  transition: 0.75s;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 175px;
}

.wrapper--content {
  width: 300px;
  height: auto;
  line-height: 1.5em;
  padding: 25px;
}

.wrapper--icon {
  width: 75px;
  height: 75px;
}

.br {
  border-right: 2px solid #ffffff;
}

.samples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sample-img {
  width: 500px;
  height: auto;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
