@import "./utils/variables";
@import "./base/global";
@import "./components/hamburger";
@import "./pages/home";

.portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &--img {
        width: 350px;
        height: 250px;
        border-radius: 50px;
        box-shadow: 1px 1px 15px #000000;
        z-index: 3;
        transition: .75s ease-in-out;
    }
    &--title {
        position: relative;
        color: #000000;
        background-color: #ffffff;
        width: 350px;
        height: 200px;
        border-radius: 50px;
        padding: 20px;
        z-index: -1;
        box-shadow: 1px 1px 15px #000000;
        transition: .75s ease-in-out;
        h3 {
            margin-top: 75px;
        }
    }
}

.card {
    cursor: pointer;
}

// Card animation on hover

.portfolio--img {
    transform: translateY(120px);
}

.card:hover .portfolio--img {
    transform: translateY(0);
}

.card:hover .portfolio--title {
    transform: translateY(-80px);
}

.portfolio--title {
    transform: translateY(-120px);
}

.project-btn {
    position: absolute;
    font-family: 'Raleway';
    color: #000000;
    cursor: pointer;
    padding: 10px 5px;
    background: none;
    border: 2px solid #000000;
    &:hover {
        color: #4EECDE;
        border: 2px solid #4EECDE;
        transition: .75s;
    }
}


// wrapper
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper--content {
    padding: 10px 50px;
    line-height: 1.5em;
}

.wrapper--icon {
    width: 75px;
    height: 75px;
}

.br {
    border-right: 2px solid #ffffff;
}

.samples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sample-img {
    width: 500px;
    height: auto;
    margin: 5px;
}