@import "./utils/variables";
@import "./base/global";
@import "./components/hamburger";
@import "./pages/home";

.portfolio {
    margin: 25px 150px;
    display: flex;
    justify-content: space-between;
    &--img {
        width: 350px;
        height: 250px;
        border-radius: 50px;
        box-shadow: 1px 1px 15px #000000;
        z-index: 2;
        transition: .75s ease-in-out;
    }
    &--title {
        position: relative;
        color: #000000;
        background-color: #ffffff;
        width: 350px;
        height: 200px;;
        border-radius: 50px;
        padding: 20px;
        box-shadow: 1px 1px 15px #000000;
        z-index: -1;
        transition: .75s ease-in-out;
        h3 {
            margin-top: 75px;
        }
    }
}

.card {
    cursor: pointer;
}

// Card animation on hover

.portfolio--img {
    transform: translateY(110px);
}

.card:hover .portfolio--img {
    transform: translateY(0);
}

.card:hover .portfolio--title {
    transform: translateY(-80px);
}

.portfolio--title {
    transform: translateY(-100px);
}

.project-btn {
    float: right;
    font-family: 'Raleway';
    color: #000000;
    cursor: pointer;
    padding: 10px 5px;
    background: none;
    border: 2px solid #000000;
    &:hover {
        color: #4EECDE;
        border: 2px solid #4EECDE;
        opacity: 1;
        transition: .75s;
    }
}


// wrapper
.wrapper {
    display: flex;
    margin: 0px 50px;
}

.wrapper--content {
    padding: 80px;
    line-height: 1.5em;
}

.wrapper--icon {
    width: 75px;
    height: 75px;
}

.br {
    border-right: 3px solid #ffffff;
}
