.home-hero {
    background-image: url(../img/home-hero.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    filter: saturate(0);
    flex-direction: column;
    height: 625px;
    justify-content: center;
    height: 625px;
    h1 {
        font-size: 4em;
        span {
            .txt-type {
                font-weight: 100;
            }
        }
    }
}