// wrapper
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/chalkboard-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.wrapper--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 15px;
    min-width: 300px;
    max-width: 300px;
    line-height: 1.5em;
    opacity: .35;
    cursor: pointer;
    transition: 0.25s;
    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
    h4 {
        text-align: center;
    }
}

.wrapper--icon {
    width: 50px;
    height: auto;
    align-self: center;
}

@media (max-width: 768px) {
    .wrapper {
        background-size: 100vh;
    }

    .wrapper--content {
        opacity: 1;
        font-size: 0.85rem;
    }

    .wrapper--icon {
        width: 30px;
        height: auto;
        align-self: center;
    }
}