* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3E3E3E;
}

.landing-page {
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
}