h1 {
    text-align: center;
    font-size: 4em;
    text-shadow: 5px 1px 10px #000000;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 50px;
    background: linear-gradient(#0000009f, #00000000);
}

.home-intro {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 750px;
    margin: 50px;
}

.home-btn {
    font-family: 'Raleway';
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    padding: 25px;
    background: none;
    border: 2px solid #ffffff;
    &:hover {
        color: #4EECDE;
        border: 2px solid #4EECDE;
        opacity: 1;
        transition: .75s;
    }
}

.social-icons {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 50px 25px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px #000000;
    opacity: .5;
    transition: .75s;
    cursor: pointer;
    &:hover {
        opacity: 1;
        transition: .75s;
    }
}